/* fonts import */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

#instagram-ico {
    font-size: 25px;
}

.logo-footer {
    font-size: 4.768372rem;
}
    
@media (max-width: 450px) {
    .logo-footer {
        font-size: 2.768372rem;
    }
}

/* preloader */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #253756;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
    color: #5edcd4;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

/* preloader end*/

.price-list {
  line-height: 25px;
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Balsamiq Sans', cursive;
}

@media (min-width: 768px) {
  .price-list {
    line-height: 30px;
  }
}

.nowrap-segment {
  color: #dbe4e7;
  white-space: nowrap;
}

@media (max-width: 456px) {
  .price-list {
    text-align: left;
    font-size: 1em;
  }
  .card-body {
    padding: 1.5rem 1.5rem;
  }
}